Source: ros-hydro-convex-decomposition
Section: misc
Priority: extra
Maintainer: Ioan Sucan <isucan@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, unzip
Homepage: http://codesuppository.blogspot.com
Standards-Version: 3.9.2

Package: ros-hydro-convex-decomposition
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, unzip
Description: Convex Decomposition Tool for Robot Model
